<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MediaBrowser.dll"
          publicKeyToken="59fc04479785fd64"
          culture="en-us" />
        <bindingRedirect oldVersion="2.2.4.0" newVersion="2.2.5.0" />
        <bindingRedirect oldVersion="2.2.4.0" newVersion="2.2.6.0" />
        <bindingRedirect oldVersion="2.2.4.0" newVersion="2.2.7.0" />
        <bindingRedirect oldVersion="2.2.4.0" newVersion="2.2.8.0" />
        <bindingRedirect oldVersion="2.2.4.0" newVersion="2.2.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>